.info-wrapper {
  height: 53.79rem;
}

.info-content {
  width: 1225px;
}

.info-title,
.info-description {
  width: 40rem;
}

.info-description {
  width: 59.6875rem;
  height: 144px;
  margin: 60px 122px;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  line-height: 150%;
  font-size: 24px;
}
